<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/styles.css">
  <title>Mercado Liebre | Refactorized</title>
</head>

<body>
  <header>
    <div>
    <!-- Header TOP (Logo, Search-Bar, Text) -->
    <section class="top-container">
      <!-- Header TOP LOGO -->
      <div class="top-container__logo">
        <img src="img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
      </div>
      <!-- Header TOP SEARCH-BAR -->
      <div class="top-container__search-bar">
        <input class="search-bar__input" type="text" placeholder="Buscar productos, marcas...">
        <button class="search-bar__btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <!-- Header TOP TEXT -->
      <div class="top-container__copy">
        
        <p>
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito.
        </p>
      </div>
    </section>
    <!-- Header BOTTOM (Left menu, right menu) -->
    <section class="bottom-container">
      <!-- Header BOTTOM LEFT MENU -->
      <div class="bottom-container__left-menu">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
      <!-- Header BOTTOM RIGHT MENU -->
      <div class="bottom-container__right-menu">
        <ul>
          <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
          <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></i></a></li>
          <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
      </div>
    </section>
    <!-- Header HAMBURGER MENU -->
    <section class="hamburger-container">
      <nav class="hamburger-menu">
        <i class="fas fa-bars"></i>
      </nav>
    </section>
  </div>
  </header>
  <main>
    <!-- Main BANNER -->
    <section class="banner-container">
      <img src="img/img-home-banner.jpg" alt="">
    </section>
    <!-- Section ULTIMA VISITA -->
    <section class="ultima-visita">
      <!-- SECTION Title -->
      <h2>Basado en tu última visita</h2>
      <!-- SECTION Item -->
      <article class="product-item">
        <!-- ITEM Img -->
        <div class="product-item__img">
          <img src="img/img-cafetera-moulinex.jpg" alt="">
        </div>
        <!-- ITEM Info -->
        <div class="product-item__info">
          <i class="fa-solid fa-truck"></i>
          <p class="info-price">$6.770</p>
          <p class="info-discount">40% OFF</p>
        </div>
        <!-- ITEM Title -->
        <div class="product-item__title">
        <h3>Cafetera Moulinex</h3>
      </div>
      <!-- El resto de los items sigue la misma estructura detalla arriba -->
      </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-macbook-pro-2019.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$230.000</p>
            <p class="info-discount">20% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$70.000</p>
            <p class="info-discount">5% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Samsumg Galaxy S10</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-tv-samsung-smart.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$100.000</p>
            <p class="info-discount">30% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Smart TV Samsung 43"</h3>
        </div>
        </article>
    </section>
    <!-- Section OFERTAS-->
    <section class="ofertas">
      <h2>Ofertas</h2>
      <article class="product-item">
        <div class="product-item__img">
          <img src="img/img-cafetera-moulinex.jpg" alt="">
        </div>
        <div class="product-item__info">
          <i class="fa-solid fa-truck"></i>
          <p class="info-price">$6.770</p>
          <p class="info-discount">40% OFF</p>
        </div>
        <div class="product-item__title">
        <h3>Cafetera Moulinex</h3>
      </div>
      </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-macbook-pro-2019.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$230.000</p>
            <p class="info-discount">20% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>MacBook Pro 2019</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$70.000</p>
            <p class="info-discount">5% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Samsumg Galaxy S10</h3>
        </div>
        </article>
        <article class="product-item">
          <div class="product-item__img">
            <img src="img/img-tv-samsung-smart.jpg" alt="">
          </div>
          <div class="product-item__info">
            <i class="fa-solid fa-truck"></i>
            <p class="info-price">$100.000</p>
            <p class="info-discount">30% OFF</p>
          </div>
          <div class="product-item__title">
          <h3>Smart TV Samsung 43"</h3>
        </div>
        </article>
    </section>
  </main>
  <footer>
    <!-- Footer CONTAINER -->
    <section class="footer-container">
      <!-- Footer CARD -->
      <article class="f-card">
        <!-- CARD ICON -->
        <div class="card__icon"><i class="fa-solid fa-credit-card"></i></div>
        <!-- CARD TITLE -->
        <h3 class="card__title">Pagá con tarjeta o en efectivo</h3>
        <!-- CARD P -->
        <p class="card__text">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago ¡Y siemore es seguro!</p>
      </article>
      <article class="f-card">
        <div class="card__icon"><i class="fa-solid fa-gift"></i></div>
        <h3 class="card__title">Envío gratis desde los $2.500</h3>
        <p class="card__text">Solo por estar registrado@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
      </article>
      <article class="f-card">
        <div class="card__icon"><i class="fa-solid fa-user-shield"></i></div>
        <h3 class="card__title">Seguridad de principio a fin</h3>
        <p class="card__text">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque siempre estas protegid@</p>
      </article>
    </section>
    <p>Copyright &copy; 1999-2020 MercadoLiebre S.R.L</p>
  </footer>
</body>

</html>