<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
</head>
<header>
  <!-- Logo -->
  <img src="/img/logo-mercado-liebre.svg" alt="site_logo" class="header-logo">

  <!-- Header search bar & text -->
  <section class="barra-busqueda">
  <input type="search" type="text" name="" class ="busqueda" placeholder="Buscar productos, marcas">
  <a class="btn-busqueda"><i class="fa-solid fa-magnifying-glass"></i></a>
</section>
  <p class="header-text">
    <i class="fa-solid fa-hand-holding-dollar"></i>
    Comprá en cuotas y sin tarjeta de crédito
  </p>

  <!-- Main menu -->
  <nav class="header-main-menu">
    <ul>
      <li><a href="#">Ofertas</a></li>
      <li><a href="#">Tiendas Oficiales</a></li>
      <li><a href="#">Vender</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
  </nav>

    <!-- Account menu -->
  <nav class="header-account-menu">
    <ul>
      <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
      <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></i></li>
      <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
    </ul>
  </nav>
  <!-- Burger menu -->
  <nav class="burger-menu">
    <i class="fas fa-bars"></i>
    </nav>
</header>
<main>
  <!-- Banner -->
  <img src="/img/img-home-banner.jpg" alt="banner" class="banner-main">

  <!-- Últimas visitas -->
  <section class="main-ultima-visita">
    <h2>Basados en tu última visita</h2>
    <!-- Articulo 1 -->
    <article>
      <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$6.770</p>
      <p class="descuento">40% OFF</p>
      <h3 class="nombre-item">Cafétera Moulinex</h3>
    </article>

    <!-- Articulo 2 -->
    <article>
      <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$230.000</p>
      <p class="descuento">20% OFF</p>
      <h3 class="nombre-item">MacBook Pro 2019</h3>
    </article>

    <!-- Articulo 3 -->
    <article>
      <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy s10">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$70.500</p>
      <p class="descuento">10% OFF</p>
      <h3 class="nombre-item">Samsung Galaxy S10</h3>
    </article>

    <!-- Articulo 4 -->
    <article>
      <img src="/img/img-tv-samsung-smart.jpg" alt="tv samsung">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$23.200</p>
      <p class="descuento">5% OFF</p>
      <h3 class="nombre-item">Smart Tv Samsung 43"</h3>
    </article>
  </section>

  <!-- Ofertas -->
  <section class="main-ofertas">
    <h2>Sección de Ofertas</h2>

    <!-- Articulo 1 -->
    <article>
      <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$6.770</p>
      <p class="descuento">40% OFF</p>
      <h3 class="nombre-item">Cafétera Moulinex</h3>
    </article>

    <!-- Articulo 2 -->
    <article>
      <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$230.000</p>
      <p class="descuento">20% OFF</p>
      <h3 class="nombre-item">MacBook Pro 2019</h3>
    </article>

    <!-- Articulo 3 -->
    <article>
      <img src="/img/img-samsung-galaxy-s10.jpg" alt="galaxy s10">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$70.500</p>
      <p class="descuento">10% OFF</p>
      <h3 class="nombre-item">Samsung Galaxy S10</h3>
    </article>

    <!-- Articulo 4 -->
    <article>
      <img src="/img/img-tv-samsung-smart.jpg" alt="tv samsung">
      <i class="fa-solid fa-truck"></i>
      <p class="precio">$23.200</p>
      <p class="descuento">5% OFF</p>
      <h3 class="nombre-item">Smart Tv Samsung 43"</h3>
    </article>
  </section>
</main>
<footer>
  <!-- Inicio del footer -->
  <!-- Article 1 -->
  <section class="footer-item">
    <article>
      <i class="fa-solid fa-credit-card"></i>
      <h2>Pagá con tarjeta o en efectivo</h2>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en puntos de pago.¡Y siempre es
        seguro!
      </p>
    </article>
  </section>
  <!-- Article 2 -->
  <section class="footer-item">
    <article>
      <i class="fa-solid fa-gift"></i>
      <h2>Envío gratis desde los $ 2.500</h2>
      <p>
        Solo por estar registrado en Mercado Liebre tenés envíos gratis en miiles de productos. Es un beneficio de
        Mercado Puntos.
      </p>
    </article>
  </section>
  <!-- Article 3 -->
  <section class="footer-item">
    <article>
      <i class="fa-solid fa-user-shield"></i>
      <h2>Seguridad de principio a fin</h2>
      <p>
        ¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@
      </p>
    </article>
  </section>
  <!-- Article 4 -->
  <section class="footer-copyright">
    <article>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </article>
  </section>
</footer>

<body>
</body>

</html>